
@{
    ViewBag.Title = "_LayoutAdmin";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/StyleChinh.css" rel="stylesheet" />
</head>
<body>
    <div class="logo">
        <img src="~/Images/logo.png"/>
    </div>
    <div class="menubar">
        <ul>
            <li><a href="../DangNhap/GioiThieu">Giới thiệu</a></li>
            <li>
                <a href="#">Danh Mục</a>
                <div class="submenu">
                    <ul>
                        <li><a href="~/BENHNHANs/Index">Bệnh Nhân</a></li>
                        <li><a href="~/HSBAs/Index">Hồ Sơ Bệnh Án</a></li>
                        <li><a href="~/BACSIs/Index">Bác Sĩ</a></li>
                        <li><a href="~/THUOCs/Index">Thuốc</a></li>
                        <li><a href="~/DICHVUs/Index">Dịch Vụ</a></li>
                        <li><a href="~/BENHs/Index">Căn Bệnh</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="@Url.Action("Index","DuyetHSBA")">Duyệt Khám</a></li>
            <li><a href="~/HSBAs/TraCuu">Tra Cứu</a></li>
            <li><a href="~/CT_HSBA/ThongKe">Thống Kê</a></li>
            <li class="login">@Html.ActionLink("Đăng xuất","DangXuat","DangNhap")</li>
        </ul>
    </div>
    <div class="content">
        @RenderBody()
    </div>

    <div class="footer">
        <div class="copyright">© 2020 Copyright</div>
    </div>

</body>
</html>

