
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        #bgimg {
            position: absolute;
            top: 40px;
            right: -100px;
            width: 650px;
            z-index: -1;
        }

        #gth {
            position: absolute;
            top: 60px;
            left: -40px;
            width: 550px;
        }
    </style>
</head>
<body>
    <img src="~/Images/anhbg2.jpg" id="bgimg" />
    <img src="~/Images/Picture1.png" id="gth" />



</body>
</html>

